*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 1000px;
    height: 550px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 53px;
  
}
.main > div:nth-child(1){
    background-image: url(./Shakib-Al-Hasan-1.jpg);
    background-repeat: no-repeat;
    background-size: 400px;
   
}
.main > div:nth-child(2),h1{
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 23px;
    font-weight: bold;

}