*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        float: left;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: 80px;
        background: #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        border-radius: 30%;
        box-shadow: 0px 5px 15px -5px black;
        a{
            color: black;
        }
        h5{
            position: absolute;
            top: 355px;
            color: white;
        }
       
    }
     
    
    }
   
    .div1:hover{
        background-color: #3B5A95;
        a{
            color: #f1f1f1;
        }
        h5{
            color: #3B5A95;
        }
       
       
    }
    .div2:hover{
        background-color: #46C1F0;
        a{
            color: #f1f1f1;
        }
        h5{
            color: #46C1F0;
        }
       
    }
    .div3:hover{
        background-color: #000;
        a{
            color: #f1f1f1;
        }
        h5{
            color: #000;
        }
       
    }
    .div4:hover{
        background-color: #DE1D59;
        a{
            color: #f1f1f1;
        }
        h5{
            color: #DE1D59;
        }
       
    }
    .div5:hover{
        background-color: #f00;
        a{
            color: #f1f1f1;
        }
        h5{
            color: #f00;
        }
       
    }
    
