*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background: red;
    display: flex;
    position: relative;
    
    
}
.water{
    width: 400px;
    height: 250px;
    background: url("./images/download.jpg");
    background-size: cover;
    position: absolute;
    left: 42%;
    top: 25%;
}
.window1{
    width: 200px;
    height: 250px;
    background:url("./images/window1.jpg") ;
    position: absolute;
    transition: 1;
}
.window2{
    width: 200px;
    height: 250px;
    background: url("./images/window1.jpg");
    position: absolute;
    right: 0px;
    transition: 1;
}
.water:hover .window1{
    position: absolute;
    left: -200px;

}
.water:hover .window2{
    position: absolute;
    right: -200px;
}