@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Inspiration&family=Oleo+Script+Swash+Caps:wght@700&family=Pacifico&family=Rubik+Dirt&family=Rubik+Marker+Hatch&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    display: flex;
} */
.flag{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    
    
}
.flag1{
    width: 600px;
    height: 400px;
    position: relative;
    margin: auto;

}
.div1{
    width: 200px;
    height: 400px;
    background-color: #002551;
    float: left;
}
.div2{
    width: 200px;
    height: 400px;
    background-color: white;
    overflow: hidden;
    float: left;
}
.div3{
    width: 200px;
    height: 400px;
    background-color:#ff0000;
   overflow: hidden;
   float: left;
}
.flag1::before{
    content: attr(myData);
    width:100%;
    height: 83px;
    line-height: 90px;
    background-color: gray;
    position: absolute;
    top: 400px;
    text-align: center;
    font-size: 40px;
    font-family: 'Dancing Script', cursive; 
    font-weight: bolder;
    color: #002551;
}
.flag1:hover .div1{
    background-color: #008D44;
}
.flag1:hover::before{
    content: "Italy";
     color: green;
}

.main{
    width: 100%;
    height: 100vh;
    background-image: url(/Image/hd-wallpaper-21534_1920.jpg);
    background-repeat: no-repeat;
    display: flex;
   
   
}
.pain{
    margin-left: 550px;
    margin-top: 250px;
   position: relative;
   

}

.im{
    width: 700px;
    height: 400px;
    position: absolute;
    
   

}
.window1{
    background: url(/Image/Screenshot_2.png);
    width: 350px;
    height: 400px;
    position: absolute;
    right: -350px;
    transition: 0.5s;
   
    
}
.window2{
    background: url(/Image/Screenshot_2.png);
    width: 350px;
    height: 400px;
    position: absolute;
 
    left: 350px;
    transition: 0.5s;
    
}
   
.pain:hover .window1{
    right: 0px;
 

}
.pain:hover .window2{
    left: 700px;
  
 
}

