* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("./Images/cursor-png-1142.png"), auto;
}

.grid {
  width: 720px;
  height: 520px;
  background: gray;
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-gap: 10px;
  border: 1px solid black;
  padding: 20px;
  margin: 75px auto;
}

.grid > div:first-child {
  background-image: url("./Images/MdYousufAli.jpg");
  background-repeat: no-repeat;
  background-size: auto 520px;
  background-position: center 50px;
  background-color: #fff;
}

.head {
  text-align: center;
  color: white;
  margin-bottom: 15px;
}

.pera {
  font-size: 25px;
  color: #acacac;
  margin-bottom: 15px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 7px #666666;
  -moz-box-shadow: 3px 3px 7px #666666;
  box-shadow: 3px 3px 7px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
