* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bd {
  width: 100%;
  height: 100vh;
  background: gray;
  display: flex;
}

.dhk {
  width: 300px;
  height: 200px;
  background: green;
  padding: 20px;
  margin: auto;
  display: flex;
  /* padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding: 20px 30px 40px 50px;
  padding: 20px 30px;
  padding: 20px 30px 40px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin: 20px 30px 40px 50px;
  margin: 20px 30px;
  margin: 20px 30px 40px; */
}

.dhanmondi {
  width: 150px;
  height: 150px;
  background: red;
  margin: auto;
  border-radius: 50%;
}

.abul {
  width: 100%;
  height: 100vh;
  display: flex;
}

.babul {
  width: 600px;
  padding: 20px;
  background: dodgerblue;
  margin: auto;
  color: white;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
  font-family: Arial;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
  text-shadow: -1px 1px 3px black;
  text-decoration: underline;
  /* border-width: 10px;
  border-style: solid;
  border-color: black; */
  /* border-top-width: 10px;
  border-top-style: dotted;
  border-top-color: black; */
  /* border-top: 10px dashed black; */
  /* border-right-width: 10px;
  border-right-style: dotted;
  border-right-color: black; */
  /* border-right: 10px dotted black; */
  /* border-bottom-width: 10px;
  border-bottom-style: double;
  border-bottom-color: black; */
  /* border-bottom: 10px double black; */
  /* border-left-width: 10px;
  border-left-style: solid;
  border-left-color: black; */
  /* border-left: 10px solid black; */
  border: 10px solid darkblue;
  box-shadow: 10px 10px 10px gray, -10px -10px 10px gray,
    0px 0px 30px black inset;
  border-radius: 10px;
}
