* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  padding: 15px;
  background: grey;
}

.main > div {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

@media only screen and (max-width: 620px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    padding: 5px;
  }
}

@media only screen and (min-width: 620px) and (max-width: 1020px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
}

@media only screen and (min-width: 1020px) {
  .main {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding: 15px;
  }
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("./images/sky.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

.highway {
  height: 200px;
  width: 500%;
  display: block;
  background-image: url("./images/road.jpg");
  position: absolute;
  background-repeat: repeat-x;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  animation: highway 5s infinite linear;
}

@keyframes highway {
  100% {
    transform: translateX(-3400px);
  }
}

.city {
  height: 250px;
  width: 500%;
  display: block;
  background-image: url("./images/city.png");
  position: absolute;
  background-repeat: repeat-x;
  bottom: 200px;
  left: 0;
  right: 0;
  z-index: 1;
  animation: city 10s infinite linear;
}

@keyframes city {
  100% {
    transform: translateX(-1400px);
  }
}

.car {
  width: 400px;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.car img {
  width: 100%;
  animation: car 1s infinite linear;
}

@keyframes car {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(1px);
  }
}

.wheel {
  left: 50%;
  bottom: 178px;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
}

.wheel div {
  height: 72px;
  width: 72px;
  background: url("./images/wheel.png");
  background-size: cover;
  position: absolute;
  animation: wheel 1s infinite linear;
}

.front-wheel {
  left: 80px;
}

.back-wheel {
  left: -165px;
}

@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}
