* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 750px;
  margin: 20px auto;
  > ul {
    list-style: none;
    width: 100%;
    background: #000;
    display: flex;
    position: relative;
    > li {
      width: 100%;
      > a {
        list-style: none;
        display: block;
        color: #fff;
        line-height: 50px;
        text-decoration: none;
        text-align: center;
        font-family: Arial;
        font-size: 22px;
      }
      &:hover {
        background: dodgerblue;
        > div {
          display: grid;
        }
      }
      > div {
        display: none;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 8px;
        width: 750px;
        position: absolute;
        top: 100%;
        left: 0;
        background: #000;
        padding: 10px 0;
        > ul {
          list-style: none;
          > li {
            a {
              text-decoration: none;
              color: #fff;
              font-family: arial;
              font-size: 14px;
              display: block;
              padding-left: 8px;
            }
            &:first-child {
              font-weight: bold;
            }
            &:hover {
              &:not(&:first-child) {
                > a {
                  text-decoration: underline;
                }
              }
            }
            &:not(&:first-child) {
              > a {
                &::before {
                  content: "\21DD";
                }
              }
            }
          }
        }
      }
    }
  }
}
