{
    "presets": [
        [
            "@babel/env",
            {
                "modules": false // "amd" | "umd" | "systemjs" | "commonjs" | false
            },
        ],
    ],
    "compact": false,
    "exclude": "node_modules/**"
}
