* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: 750px;
  margin: 20px auto;
  list-style: none;
  display: flex;
  background: dodgerblue;
  text-align: center;
  li {
    width: 100%;
    position: relative;
    a {
      text-decoration: none;
      line-height: 50px;
      color: #fff;
      display: block;
    }
    &:hover {
      background: #f00;
      > ul {
        display: block;
      }
    }
    ul {
      list-style: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: dodgerblue;
      width: 100%;
      display: none;
      ul {
        top: 0;
        left: 100%;
      }
    }
  }
}
