*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    background: brown;
    >.snav {
        margin: auto;
        list-style: none;
        display: flex;
        >li {
            width: 40px;
            border: 1px solid rgb(255, 255, 255);
            margin: 0 4px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            z-index: 1;
            >a {
                line-height: 40px;
                text-align: center;
                display: block;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 15px;
            }
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 100%;
                left: 0%;
                background: rgb(42, 158, 235);
                transition: 0.5s;
                z-index: -10;
            }
            &:hover {
                // background-color: black;
                >a {
                    color: brown;
                }
                &::before {
                    top: 0%;
                }
            }
        }
    }
}