{
    Margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bd{
    width: 50%;
    height: 100px;
    background: black;
    margin: auto;
    padding: 20px;
  
}

.red{
    width: 50%;
    height: 100px;
    background: rgb(224, 17, 17);
    margin: auto;
    padding: 20px;
}
.yellow{
    width: 50%;
    height: 100px;
    background: rgb(236, 233, 5);
    margin: auto;
    padding: 20px;
}

