/* @import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@font-face {
  font-family: "jorina";
  src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
  font-family: "sokhina begum";
  src: url("../fonts/Alumni_Sans_Collegiate_One/AlumniSansCollegiateOne-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: "jorina";
}

.pain {
  font-family: "sokhina begum";
  font-size: 28px;
}
