. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100%;
  display: flex;
}
.germany {
  width: 100%;
  height: 100vh;
  background-color: blue;
  margin: auto;
}
.black {
  width: 600px;
  height: 100px;
  background-color: black;
}
.red {
  width: 600px;
  height: 100px;
  background-color: red;
}
.yellow {
  width: 600px;
  height: 100px;
  background-color: yellow;
}
